$grid-size: 50px;
$grid-border: 1px solid rgb(11, 209, 44);

.game{
    margin: 1rem;
    @include flexSetting(flex-start, center);
    &-board{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        width: calc($grid-size * 10);
        border: $grid-border ;
        margin: 0 5rem;
        margin-left: 20rem;
        &--grid{
            width: $grid-size;
            height: $grid-size;
            border: $grid-border;
        }
    }

    &-ships{
        @include flexSetting(space-evenly, center, true);
        &--group{
            @include flexSetting(flex-start, center);
        }
        & .game-ship{
            @include flexSetting(flex-start, center);
            margin: 1rem;
            &--part{
                width: $grid-size;
                height: $grid-size;
                padding: .2rem;
                border: $grid-border;
            }
            &__part-ic{
                width: 100%;
                height: 100%;
                fill: #ef476f;
            }
        }
    }
}